.visitor__item {
  display: flex;
  align-items: center;
  padding: 0 0 20px;
}

.visitor__names {
  margin-right: 14px;
  line-height: 26px;
}

.visitor__text {
  display: block;
  width: 100%;
  padding: 19px 22px;
  border: $grey-light;
  background: $grey-light;

  &:hover {
    border: $grey-middle;
    background: $grey-middle;
  }

  &:active {
    background: $white;
  }

  &::placeholder {
    font-family: "PT Sans-Bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .visitor {
    margin-bottom: 70px;
  }

  .visitor__list {
    padding: 34px 0 0;
  }

  .visitor__item {
    padding: 26px 0 0;
  }
}
